{% extends "Dais/layout/base.html" %}

{% block title %}
        Flexbox
{% endblock title %}

{% block content %}
{% include "Dais/partials/header.html" %}
<div class="container mx-auto">
 <div class="flex justify-center space-x-6 mt-2">
        <div class="h-16 w-16 rounded-full bg-blue-500"></div>
        <div class="h-16 w-16 rounded-full bg-orange-500"></div>
        <div class="h-16 w-16 rounded-full bg-green-500"></div>
    </div>

     <div class="flex flex-col justify-center items-center space-y-6 mt-2">
        <div class="h-16 w-16 rounded-full bg-blue-500"></div>
        <div class="h-16 w-16 rounded-full bg-orange-500"></div>
        <div class="h-16 w-16 rounded-full bg-green-500"></div>
    </div>
    <div class="flex justify-center">
        <h1 class="text-3xl font-bold items-center">Grid</h1>
    </div>
    
    <div class="grid md:grid-cols-3 gap-2 mt-2 mx-2">
        <div class="h-16 rounded-full bg-blue-500"></div>
        <div class="h-16 rounded-full bg-orange-500"></div>
        <div class="h-16 rounded-full bg-green-500"></div>
    </div>

    <div class="md:block hidden">
        <p>I appear on screens wider than 768px</p>
    </div>
    <div class="sm:bg-amber-500 md:bg-amber-700 rounded-lg">
        <p class="text-white">I appear on screens wider than 768px</p>
    </div>
    <div class="max-sm:bg-amber-500 max-md:bg-amber-700 rounded-lg">
        <p class="text-white">I appear on screens wider than 768px</p>
    </div>

    <div class="bg-white dark:bg-black dark:text-white">
        Dark mode enabled
    </div>
</div>
   
    {% include "Dais/partials/footer.html" %}
{% endblock content %}



