{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet"type="text/css" href="{% static 'css/daisyui@5.css' %} ">
     <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
</head>
<body>
  
    {% block content %}
    
    {% endblock content %}

    <script src="{% static "js/tailwind.js" %}"></script>
</body>
</html>