<header class="bg-purple-600 text-white py-4">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <a href="/"><h1 class="text-2xl font-bold">DaisyUI Example</h1></a>
      <ul class="flex justify-end items-center font-bold space-x-5 tracking-wide">
        <li><a href="/">Home</a></li>
         <li><a href="/login">Login</a></li>
          <li><a href="/modal">Modal</a></li>
          <li><a href="/flexbox">Flexbox</a></li>
          <li><a href="/d_gray">D gray</a></li>
          <li><a href="/acme_robots">ACME robots</a></li>
      </ul>

    </div>
  </div>
</header>